
.apiblock {
  margin-bottom: .5em;
  --border-color: red;
  border: 2px solid var(--border-color);
  border-radius: 4px;

  &.GET {
    --border-color: #61affe;
    background-color: rgba(97,175,254,.1);
  }

  header {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto auto auto 1fr;
    align-items: center;
    grid-auto-columns: 1fr;
    border-bottom: 1px solid var(--border-color);
    padding: .2em;
    cursor: pointer;
    user-select: none;

    .type {
      background-color: var(--border-color);
      border-radius: 4px;
      color: white;
      padding: .25em 1em;
      font-size: 1.25em;
    }

    .url {
      font-size: 1.25em;
      font-weight: 500;
    }
  }

  main {
    display: none;
    padding: .2em;
    white-space: pre;

    &.open {
      display: block;
    }
  }
}
