
<table>
  <tr>
    <th>gesparte Energie</th>
    <td>{{(batterySavings/1000) | number:'1.0-0'}} kWh</td>
  </tr>
  <tr>
    <th>Vergütung <span class="info">?<span>Die Vergütung, die durch die Einspeisung in die Batterie statt ins Netz weniger ausgezahlt wird.</span></span></th>
    <td>{{(-batterySavings/1000*filter.price_to_net) | number:'1.0-2'}} CHF</td>
  </tr>
  <tr>
    <th>Einsparung <span class="info">?<span>Einsparung durch nicht bezogenen Strom aus dem Netz.</span></span></th>
    <td>{{(batterySavings/1000*filter.battery_efficency*filter.price_from_net) | number:'1.0-2'}} CHF</td>
  </tr>
  <tr>
    <th>Finanzieller Erfolg</th>
    <td class="revenue">{{total | number:'1.0-2'}} CHF</td>
  </tr>
  <tr>
    <th>&nbsp;</th>
    <td></td>
  </tr>
  <tr>
    <th>Anschaffungskosten</th>
    <td>{{filter.battery.price | number:'1.0-2'}} CHF</td>
  </tr>
  <tr>
    <th>Amortisationsdauer <span class="info">?<span>Eine Amortisationsdauer von unter 10 Jahren wird grün dargestellt, da davon ausgegangen wird, dass eine Batterie in spätestens 10 Jahren amortisiert sein sollte.</span></span></th>
    <td><span class="amortisation" [class.pos]="amortisation < 10">{{amortisation | number:'1.0-2'}}</span> Jahre</td>
  </tr>
</table>
