
<app-areaspline
        [title]="title_einspeisung"
        [label]="label_einspeisung"
        [data]="data_einspeisung"
        [(update)]="update"
        class="c13"
></app-areaspline>
<app-areaspline
        [title]="title_bezug"
        [label]="label_bezug"
        [data]="data_bezug"
        [(update)]="update"
        class="c35"
></app-areaspline>
<app-pie
        [title]="title_pvertrag"
        [label]="label_pvertrag"
        [data]="data_pvertrag"
        [(update)]="update"
        class="c13"
></app-pie>
<app-line
        [title]="title_pvverbrauch"
        [label]="label_pvverbrauch"
        [data]="data_pvverbrauch"
        [(update)]="update"
        class="c35"
></app-line>

<button (click)="buttonclick()">click</button>
