
<div class="c35 filter">
    <div class="season">
        <button (click)="changeSeason()"></button>
        <p>{{filter.season}}</p>
    </div>
    <div class="battery">
        <b>Batterie</b><br>
<!--        <select [ngModel]="filter.battery" (change)="changeBattery()">-->
<!--            <option *ngFor="let bat of batteries" [ngValue]="bat">{{bat.caption}}</option>-->
<!--        </select>-->
    </div>
    <div class="efficency">
        <b>Batterie Effizienz</b><br>
<!--        <select [ngModel]="filter.battery_efficency" (change)="changeBattery()">-->
<!--            <option value="0.50">50%</option>-->
<!--            <option value="0.60">60%</option>-->
<!--            <option value="0.65">65%</option>-->
<!--            <option value="0.70">70%</option>-->
<!--            <option value="0.75">75%</option>-->
<!--            <option value="0.80">80%</option>-->
<!--            <option value="0.85">85%</option>-->
<!--            <option value="0.90">90%</option>-->
<!--            <option value="0.95">95%</option>-->
<!--            <option value="0.98">98%</option>-->
<!--            <option value="0.99">99%</option>-->
<!--            <option value="1">100%</option>-->
<!--        </select>-->
    </div>
</div>
<app-pie
        [title]="title_tagnachtvergleich"
        [label]="label_tagnachtvergleich"
        [data]="data_tagnachtvergleich"
        [(update)]="update"
></app-pie>
<app-full-battery-pie
        [filter]="filter"
></app-full-battery-pie>
<app-areaspline
        [title]="title_einspeisung"
        [label]="label_einspeisung"
        [data]="data_einspeisung"
        [(update)]="update"
        class="c13"
></app-areaspline>
<app-areaspline
        [title]="title_bezug"
        [label]="label_bezug"
        [data]="data_bezug"
        [(update)]="update"
        class="c35"
></app-areaspline>
<app-pie
        [title]="title_pvertrag"
        [label]="label_pvertrag"
        [data]="data_pvertrag"
        [(update)]="update"
        class="c13"
></app-pie>
<app-line
        [title]="title_pvverbrauch"
        [label]="label_pvverbrauch"
        [data]="data_pvverbrauch"
        [(update)]="update"
        class="c35"
></app-line>
