
:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

table {
  width: 200px;
  font-size: 0.7em;

  th {
    text-align: left;
  }

  td {
    text-align: right;
  }
}

.info {
  position: relative;
  display: inline-block;
  background-color: #ccc;
  color: #fff;
  padding: .0em .3em;
  border-radius: 1em;
  cursor: help;

  span {
    display: none;
    width: 150px;
    position: absolute;
    inset: 70% auto auto 70%;
    background-color: #fff;
    color: #333;
    border: 1px solid #eee;
    z-index: 99;
    padding: .5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  }

  &:hover span {
    display: block;
  }
}
